@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
}

header {
    display: flex;
}

.header-icons {
    width: 2em;
    height: 2em;
}

.content {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 1fr;

}

.projects {
    cursor: pointer;
}

.projects-item {
    cursor: pointer;
    display: block;
    margin-left: 1rem;
}

.new-task-container {
    display: block;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}